<iframe src="<%=@question.codeshare_url%>" height="100%"></iframe>

<div class="end-session">
  <%= button_to "End Session", question_path(@question), method: :put, params: {question_id: @question.id} %>
</div>
