<header id="mentor-background">
  <div class="header-content">
    <div class="header-content-inner">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'expertise_form', locals: {expertise: @expertise} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
