
<div class='alert alert-danger col-md-4 col-md-offset-5'>
    <ul>
      <% messages.each do |message| %>
        <li> <%= message %></li>
      <% end %>
    </ul>
    <span class="close" data-dismiss="alert">&times;</span>
  </div>
