<header id="about-page">
  <div class="header-content">
    <div class="header-content-inner">
	    <h1>About Rubberduck</h1>
	    <br>
	    <h4>Our Mission</h4>
	    <p>Creating possibilities for students, teachers, and the industry as a whole to continue to grow</p>
	    <h4>About us</h4>
	    <p>Rubberduck.com is an online learning platform that helps anyone learn their favorite codebase to achieve personal and professional goals. Across borders, cultures, and languages, we’re proud to connect people who need coding help with people looking to earn money spreading their knowledge. We are committed to making the industry a stronger place, and our mentors aim to enrich the lives of aspiring developers as they grow and mature in their careers.</p>
    </div>
  </div>
</header> 