
<header>
  <div id="main-rating">
    <div class="container-fluid">
      <h1>How was your session?</h1>
      <h3>Please rate your experience below</h3>

      <div class="row">
          <div class="col-sm-12">
            <%= render partial: "rating_form", locals: {rating: @rating} %>
          </div>
      </div>
      <a href="https://twitter.com/intent/tweet?button_hashtag=Rubberduckapp&text=Another%20problem%20solved%20by" class="twitter-hashtag-button" data-size="large">Tweet #Rubberduckapp</a>
    </div>
  </div>
</header>
