Hi, <%= @user.username %>. You're probably the best mentor around.


<a href="https://images.rapgenius.com/9908cb640cf00bd6689bd2aee22f0a9d.768x506x1.jpg" class="lightbox_trigger">Lightbox Practice
</a>


