

<div class="avatar-container">
	<img src="/assets/avatar_border_01.png" class="avatar-border">
		<img src="<%= @user.avatar %>" class="avatar-image"></img>
	</img>
</div>
<div class="mentor-stars">

</div>

Hi, <%= @user.username %>. You're probably the best mentor around.

<%= @ratings.count %>

<div class="notifications"></div>


<a href="https://images.rapgenius.com/9908cb640cf00bd6689bd2aee22f0a9d.768x506x1.jpg" class="lightbox_trigger">Lightbox Practice
</a>
