<%= render partial: "shared/mentor_portrait", locals: {user: @user} %>
<%= render partial: "shared/star_rating", locals: {user: @user} %>


Hi, <%= @user.username %>. You're probably the best mentor around.

<div class="notifications"></div>


<a href="https://images.rapgenius.com/9908cb640cf00bd6689bd2aee22f0a9d.768x506x1.jpg" class="lightbox_trigger">Lightbox Practice
</a>
s