#student-page {
  height: 1100px
}

#student-page .header-content {
  margin-top: 100px;
}

#student-page #question-form {
  visibility: hidden;
}

#student-page #question-container {
  margin-top: -250px;
}

#student-page #mentor-portrait {
  margin-bottom: 0
}

#mentor-background {
  margin-top: -30px;
}

#mentor-background .intro-text {
  margin-top: -50px
}

#register-page {
  height: 700px;
}
